.cabecalho__menu-hamburguer {
    width: 20px;
    height: 20px;
    background-image: url('../assets/Menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;     

}

.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer {
    background: url(../assets/MenuAberto.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;     
}

.container__botao:checked~.container__rotulo{
    background: var(--azul);
    
}


.container {
    display: flex;
    align-items: center;    
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container__imagem {
    padding: 2em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    list-style-type: none;
}

.container__botao {
    display: none;    
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.container__texto {
    display: none;
}

.lista-menu__link {
    text-decoration: none;
    background: var(--azul-degrade);
    -webkit-background-clip: text;    
    background-clip: text;
    text-transform: uppercase;
}

.container__titulo,
.opcoes {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo--negrito,
    .container__titulo {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
        list-style-type: none;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .lista-menu {
        top: 100%;        
    }

    .opcoes__item {
        padding: 2em;
    }

    .opcoes__item:hover {
        background: var(--azul);
        color: var(--branco); 
    }

    .lista-menu__item:hover {
        background: var(--azul);
    }

    .lista-menu__item:hover > .lista-menu__link {
        color: var(--branco);
    }
   
     
}

@media screen and (min-width: 1728px) {

    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-left: 4em;
        margin-right: auto;
    }

    .container__texto {
        display: block;
    }
}